<header>
    <app-menu></app-menu>
</header>

<div class="banner">


    <i class="bi bi-airplane-engines"></i>
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <app-formareserva></app-formareserva>
            </div>
        </div>
    </div>
    
</div>

<section>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col" *ngFor="let auxiliar of habitaciones">
                <div class="card h-100 shadow">
                    <img src={{auxiliar.fotografias[0]}} alt="" class="img-fluid w-100 h-100">
                    <h1>{{auxiliar.nombre}}</h1>

                </div>

            </div>

        </div>
    </div>
</section>
